<header>
    <nav style="background-color:rgb(0, 0, 0)" class="navbar navbar-expand-lg navbar-light bg-black" id="navbar">
        <div class="container-fluid">
            <a href=""><img   width="95" alt="Angular Logo" src="assets\images\newLogo.jpg" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="divider"></div>
              <li class="nav-item">
                <a (click)="aboutMe()" class="btn btn-outline-light" aria-current="page" >About Me</a>
              </li>
              <div class="divider"></div>
              <li class="nav-item">
                <a (click)="experience()" class="btn btn-outline-light" aria-current="page" >Experience</a>
              </li>
              <div class="divider"></div>
              <li class="nav-item">
                <a (click)="contact()" class="btn btn-outline-light" margin="5px" >Contact</a>
              </li>
              <div class="divider"></div>
              <li class="nav-item">
                <a href="https://docs.google.com/document/d/1TMYcu90iuk8G2seiSquPjMu9E7xuO6Y1gM08qtxNpGo/edit?usp=sharing" target="_blank" class="btn btn-outline-warning" tabindex="-1" aria-disabled="true">
                Resume</a>
              </li>
            </ul>
            <div  class="divider"></div>
            <div  class="divider"></div>
            <div  class="divider"></div>
            <div  class="divider"></div>
            <div  class="divider"></div>
            <div  class="divider"></div>
            <div  class="divider"></div>
            <div  class="divider"></div>
            <div  class="divider"></div>
            <div  class="divider"></div>
            
          </div>
        </div>
                
        <div>
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="divider"></div>
                    
                  <li class="nav-item">
                      <a  href="https://www.linkedin.com/in/kushagra-bisht-a174891a4" target="_blank" >
                    <img width="35" height="35"   aria-current="page" src="assets\images\linkedin.jpg">
                    </a>
                  </li>
                  <div class="divider"></div>
                  <div class="divider"></div>
                  <li class="nav-item">
                    <a href="https://www.instagram.com/bishtkushagra/" target="_blank" >
                    <img width="35" height="35"  aria-current="page" src="assets\images\instagram.jpg">
                    </a>
                </li>
                  <div class="divider"></div>
                  <div class="divider"></div>
                  <li class="nav-item">
                    <a href="https://www.facebook.com/kushagra.bisht/" target="_blank">
                    <img  width="35" height="35"  aria-current="page" src="assets\images\facebook.png">
                    </a>
                </li>
                  <div class="divider"></div>
                  <div class="divider"></div>
                  <li class="nav-item">
                    <a href="https://github.com/KushagraBisht" target="_blank" >
                    <img  width="35" height="38" aria-current="page" src="assets\images\github.png">
                 </a>
                </li>
                </ul>
                <div  class="divider"></div>
              </div>
            </div>
        </div>
      </nav>


</header>
