<div  style="color: white; padding-left: 300px; padding-top: 100px;" >
    <div style="color: gold;" ALIGN="left">
    <h5>Hi, My Name is,</h5>
</div>
<!-- <img  width="405" ALIGN="right" alt="My Pic" src="assets\images\myPic.PNG"> -->
<h1 style="font-size:5vw">Kushagra Bisht.</h1>
<h1 style="font-size:4vw">Software Developer for fun.</h1>
<div class="divider"></div>
<div style="color: rgb(253, 253, 253)">
<p style="font-size : 1.5vw">I am a software developer from India.<br> Currently pursuing my B.Tech and looking <br> for opportunities.</p>
</div>
</div>
